@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");

:root {
  font-family: "Source Sans 3", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #36424c;
  background-color: #eee;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #00bfd7;
}

@font-face {
  font-family: "Greycliff-CF";
  font-style: normal;
  font-weight: 700;
  src: url("/Greycliff-CF-Extra-Bold.otf");
}

@font-face {
  font-family: "Greycliff-CF";
  font-style: normal;
  font-weight: 200;
  src: url("/Greycliff-CF-Regular.otf");
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button,
.btn {
  font-size: unset;
  font-family: unset;
  padding: 5px;
  border-radius: 4px;
  background: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
  color: #36424c;
  border: 2px solid #c2c2c2;
  transition: background 0.1s ease-in-out, border-color 0.1s ease-in-out,
    color 0.1s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}
button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
button:hover:not(:disabled):not(.active),
.btn:hover:not(:disabled):not(.active) {
  background: linear-gradient(to bottom, #f3f3f3 0%, #ededed 100%);
}
button:focus,
button:focus-visible,
.btn:focus,
.btn:focus-visible {
  border-color: #0099ac;
}
button.active,
.btn.active {
  color: white;
  border-color: #0099ac;
  background: linear-gradient(to bottom, #00bfd7 0%, #00b6cd 100%);
}
input {
  font-size: unset;
  font-family: unset;
  font-weight: bold;
  border: 2px solid #bbb;
  padding: 10px;
  border-radius: 10px;
}

/* TPT2 Tools */
.tpt2tools {
  background-color: rgb(11, 11, 13);
  color: #dedede;
  font-family: "Greycliff-CF";
  --primary: rgb(0, 211, 255);
  color-scheme: dark;
}
.tpt2tools button {
  background: rgb(40, 38, 38);
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  color: #eee;
}
.tpt2tools button:hover:not(:disabled):not(.active) {
  background: rgb(74, 70, 70);
}
.tpt2tools button:focus,
.tpt2tools button:focus-visible,
.tpt2tools button.active {
  background: rgb(107, 101, 101) !important;
}
.tpt2tools input {
  background-color: #222;
  color: #eee;
  border: 2px solid #444;
}

.startBtn {
  padding: 10px 30px !important;
}
.tpt2tools .startBtn {
  background-color: rgb(31, 126, 255);
  transition: opacity 0.2s ease-in-out;
  font-weight: bold;
  font-size: 24px;
  border-radius: 100px;
}
.tpt2tools .startBtn:disabled {
  background-color: rgb(31, 126, 255) !important;
  opacity: 0.2;
}
.tpt2tools .startBtn:hover:not(:disabled) {
  background-color: rgb(31, 126, 255) !important;
  opacity: 0.8;
}
.tpt2tools .intro {
  display: none;
}
